@model Slot
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete Slot</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            <input asp-for="Id" hidden />
            <div class="border p-3 mt-4">
                @* <div asp-validation-summary="ModelOnly"></div>*@
                <div class="form-floating py-2 col-12">
                    <input asp-for="CafeName" type="text" disabled class="form-control border-0 shadow" />
                    <label asp-for="CafeName" class="ms-2"></label>
                    <span asp-validation-for="CafeName" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="StartTime" type="datetime-local" disabled class="form-control border-0 shadow" />
                    <label asp-for="StartTime" class="ms-2"></label>
                    <span asp-validation-for="StartTime" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="EndTime" type="datetime-local" disabled class="form-control border-0 shadow" />
                    <label asp-for="EndTime" class="ms-2"></label>
                    <span asp-validation-for="EndTime" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="PayRate" type="number" disabled class="form-control border-0 shadow" />
                    <label asp-for="PayRate" class="ms-2"></label>
                    <span asp-validation-for="PayRate" class="text-danger"></span>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger form-control">Delete</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Slot" asp-action="Index" class="btn btn-secondary border form-control">
                            Back to Slots
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {

    @{
        <partial name="_ValidationScriptsPartial" />
    }
            }